<div class="card">
    <div class="card-body">
        <!-- <img src="logo_1.png" class="img" alt=""> -->
        <div class="text-cont">
            <span class="typed-text">Se presentará un video de como se expresa la cultura japonesa en Quito</span>
            <!-- <span class="cursor">|</span> -->
        </div>
        <!-- <div class="carousel-container" (mouseenter)="stopAutoSlide()" (mouseleave)="startAutoSlide()" (click)="linkProyecto(images[currentIndex])"> -->
            <!-- <button class="prev" (click)="prevSlide()">&#10094;</button> -->
            <!-- <img [src]="images[currentIndex]" class="carousel-image" alt="Slide"> -->
            <!-- <button class="next" (click)="nextSlide()">&#10095;</button> -->
        <!-- </div> -->
         <div class="video_y">
            <iframe width="860" height="390" src="https://www.youtube.com/embed/5A8WGlK4xRM?si=g9lWqOSa26vJChjt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
         </div>
        
    </div>
</div>
