<div class="card">
    <div class="card-body">
         <img src="nextgensoftware_solo_logo.png" class="img" alt="">
        <div class="text-cont">
            <span class="typed-text">At NexGen Software, we help your business thrive with custom tech solutions. We specialize in {{text}}</span>
            <span class="cursor">|</span>
        </div>
        
         <!-- <p class="card-text">At NexGen Software, we help your business thrive with custom tech solutions. We specialize in software development.</p> -->
    </div>
</div>

<!-- development, consulting, support, and innovative strategy design -->