<div class="card">
    <div class="card-body">
        <img src="nextgensoftware_solo_logo.png" class="img" alt="">
        <div class="text-cont">
            <span class="typed-text">At NexGen Software, we help your business thrive with custom tech solutions. We specialize in {{text}}</span>
            <span class="cursor">|</span>
        </div>
        <div class="carousel-container" (mouseenter)="stopAutoSlide()" (mouseleave)="startAutoSlide()">
            <button class="prev" (click)="prevSlide()">&#10094;</button>
            <div class="carousel">
                <img [src]="images[currentIndex]" class="carousel-image" alt="Slide">
            </div>
            <button class="next" (click)="nextSlide()">&#10095;</button>
        </div>
        
    </div>
</div>
