<div class="cont">
    <div class="l_panel">
        <div class="img_l_cont">
            <!-- <img class="l_panel_img" src="l_panel.png" alt=""> -->
            <span> <img class="l_panel_img" src="img_r_panel_2.jpg" alt=""> </span>
        </div>
    </div>

    <div class="r_panel">
        <div class="imgs_r_panel">
            <span> <img class="r_panel_img_" src="img_l_panel_2_1.jpeg" alt=""> </span>
            <span> <img class="r_panel_img" src="img_l_panel_2_2.jpg" alt=""> </span>
            <!-- <img class="r_panel_img" src="comunidad_1.jpeg" alt=""> -->
            <!-- <img class="r_panel_img" src="comunidad_2.jfif" alt=""> -->
        </div>
        <span class="text"> 
            <li>En esta pestaña se dará a conocer como vive la comunidad Japonesa en Quito.</li> 
        </span>
    </div>
</div>