
<div class="toolbar">
    <div class='logo'>
        <span class="logo-container" (click)="scrollToSection('section1')">
            <!-- <img class="logo-img" [src]="logoURI"> -->
            <img class="logo-img" [src]="activeSection !== 'section1' ? logoURI_sc : logoURI_sc1">
        </span>
    </div>
    <div class='secciones'>
        <div class="secciones_title">
            <div class="title">
                <span class="title_txt">EMBAJADA OTAKU</span>
            </div>
        </div>
        <div class="secciones_tool">
            <div
                class="toolbar-item"
                [class.active]="activeSection === 'section1'"
                (click)="scrollToSection('section1')"
            >
                Inicio
            </div>
            <div
                class="toolbar-item"
                [class.active]="activeSection === 'section2'"
                (click)="scrollToSection('section2')"
            >
                Comunidad Japonesa en Quito
            </div>
            <div
                class="toolbar-item"
                [class.active]="activeSection === 'section3'"
                (click)="scrollToSection('section3')"
        
            >
                Comunidad Otaku en Quito
            </div>
        </div>
    </div>
    <div class='btn-contact'>
        <button class="touch-btn" (click)="contactButton()">Contáctame</button>
    </div>
</div>

<div class="content">
  <div id="section1" class="section"> <app-presentation></app-presentation> </div>
  <div id="section2" class="section"> <app-services></app-services> </div>
  <div id="section3" class="section"> <app-contact></app-contact> </div>
  <div class="copy-cont">
      <p class="copy">Copyright© 2025 NexGen Software</p>
  </div>
</div>
