<div class="toolbar">
    <div class='logo'>
        <span class="logo-container" (click)="scrollToSection('section1')">
            <!-- <img class="logo-img" [src]="logoURI"> -->
            <img class="logo-img" [src]="activeSection !== 'section1' ? logoURI_sc : logoURI_sc1">
        </span>
    </div>
    <div class='secciones'>
        <div
            class="toolbar-item"
            [class.active]="activeSection === 'section1'"
            (click)="scrollToSection('section1')"
        >
            Sección 1
        </div>
        <div
            class="toolbar-item"
            [class.active]="activeSection === 'section2'"
            (click)="scrollToSection('section2')"
        >
            Sección 2
        </div>
        <div
            class="toolbar-item"
            [class.active]="activeSection === 'section3'"
            (click)="scrollToSection('section3')"
    
        >
            Sección 3
        </div>
    </div>
    <div class='btn-contact'>
        <button class="touch-btn" (click)="contactButton()">Contáctanos</button>
    </div>
</div>

<div class="content">
  <div id="section1" class="section"> <app-presentation></app-presentation> </div>
  <div id="section2" class="section"> <app-services></app-services> </div>
  <div id="section3" class="section"> <app-contact></app-contact> </div>
  <div class="copy-cont">
      <p class="copy">Copyright © 2024 NexGen Software</p>
  </div>
</div>
